/node_modules
/.idea
/app.js
/config.js
/manifest.yml

/controllers/**.js
/lesscss/**.less
/lib/**.js
/locales/**.json
/views/**.html

!/controllers/**.encrypted
!/lesscss/**.encrypted
!/lib/**.encrypted
!/locales/**.encrypted
!/views/**.encrypted
!/views/**/*.encrypted